<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <p><%= notice %></p>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>